<% provide(:title, 'about') %>
<h1>about</h1>
<p>
  this is the placeholder for the about page. there will be: <li><%= link_to "about cooperatives", aboutcoops_path %></li> <li><%= link_to "about this website", aboutwebsite_path %></li>
</p>

