<% provide(:title, 'about this website') %>
<h1>about this website</h1>
<p>
  this is the placeholder for the about this website page. here will live info on about the website, contact info, brief history, location, etc.
</p>
