<% provide(:title, 'resources about cooperatives') %>
<h1>what are cooperatives?</h1>
<p>
  this is the placeholder for the cooperatives resources page. here will live info on about cooperatives including why to go coop, local coops, & history of cooperatives.  Include links to videos and all that!
</p>
