<% provide(:title, 'help') %>
<h1>how to use this website</h1>
<p>
  this is the placeholder for the "help page", aka how to start a project or how to fund a project. Here will be detailed info on how to start a project on this website before the coop starts an entry.  
</p>
