<div class="center hero-unit">
  	<h2>Welcome to upandup.coop<br>a place where community meets cooperatives.<br><br>
  	Check out the featured projects below or learn about <a href="#">cooperatives</a>, <a href="#">how to start a project</a>, or about <a href="#">this website</a>.
 	</h2>
</div>
	<h1>
		featured projects:
	</h1>



