<% provide(:title, 'home') %>
    <h1> upandup.coop </h1>
    <h3>community-based funding for cooperatives and collectives</h3>
    <p>
      this is the home page for the upandup.coop website.
    </p>
  </body>
</html>