<h1> Portal </h1>

<h3> Click Here to<%= link_to "Start A Campaign", startintro_path %> </h3>
<h3> Click Here to<%= link_to "Find A Campaign", '#' %> </h3>
<h3> Click Here to<%= link_to "Update Your Campaign", '#' %> </h3>
<h3> Click Here to<%= link_to "View Your Profile", '#' %> </h3>
