<div>
	<section>
  <%= render @campaign %>
	</section>
</div>
<section>
	<h2>Current Gifts:</h2>

	<p><%= render @gifts %></p>

 	<h3> Click Here to<%= link_to " Add Gifts", addgifts_path %> </h3>
</section>
</div>

