<footer class="footer">
  <small>
    <a href="#">upandup.coop</a>
    a community development cooperative
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "contact", about_path %></li>
    </ul>
  </nav>
</footer>